.cover {
  position: relative;
  padding: 165px 50px 50px;
  min-width: 1100px;
  min-height: 757px;
  background-image: url(./images/cover.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cover__content {
  display: grid;
  grid-template-rows: 355px 52px;
  align-content: end;
  gap: 135px;
}

.cover__content-title {
  margin-bottom: 135px;
  display: flex;
  flex-direction: column;
  font-family: Raleway, sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.3em;
  z-index: 2;
}

.accent-span {
  display: block;
  line-height: 122px;
}

.span-left {
  text-align: left;
}

.span-center {
  text-align: center;
}

.span-right {
  text-align: right;
}

.letter-spacing {
  letter-spacing: 0.3em;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__content-description {
  display: flex;
  justify-content: flex-end;
  gap: 80px;
  align-items: center;
  z-index: 2;
}

.cover__content-description-text {
  margin-left: 24px;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  color: white;
  word-spacing: 0.84em;
}

.bet-button {
  width: 256px;
  height: 51px;
  background: none;
  border: 1px solid white;
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: white;
}