.footer {
  width: 100%;
  padding: 205px 50px 88px;
  font-weight: 400;
  font-size: 18px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 25px 0 0;
}

.socials {
  display: flex;
  gap: 48px;
  justify-content: space-evenly;
}

.socials-item {
  width: 48px;
}