.lots {
  width: 100%;
  margin: 0 auto;
  padding: 180px 24px 0;
}

.lots__content {
  display: flex;
  flex-direction: column;
}

.lots__content-title {
  padding: 0 0 0 40px;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 700;
}

.lots__cards-list {
  height: 563px;
  margin-top: 27px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.card__list-item {
  flex-grow: 1;
}

.card__list-item-link {
  display: block;
}

.card {
  position: relative;
  padding: 52px 40px;
  max-width: 334px;
  height: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
}

.card__type-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card__type-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card__type-picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 26px;
  z-index: 2;
}

.card__description {
  color: white;
  font-size: 20px;
  line-height: 24px;
  z-index: 2;
}
 
.lots__more {
  width: 192px;
  margin: 30px 0 0 40px;
  font-size: 20px;
  border-bottom: 1px solid black;
  font-weight: 400;
  line-height: 24px;
}  